body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/*===============RESET==================*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}
/*==================CONTAINER=====================*/

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/*===================HEADER======================*/
.header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 0;
}
.logo-design {
  color: #2e2f42;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list,
.contacts {
  display: none;
}
.burger-btn {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

/*===================MOBILE-MENU======================*/

.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.mob-menu-container {
  position: relative;
  padding: 72px 24px 40px 16px;
}
.icon-close-mob-menu {
  fill: #2e2f42;
}
.mob-menu-close-btn {
  border-radius: 100%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 24px;
  min-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-nav {
  margin-bottom: 168px;
}
.mob-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-nav-links {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-nav-links:hover,
.mob-nav-links:focus {
  color: #404bbf;
}
.mob-menu-contacts {
  margin-bottom: 48px;
}
.mob-menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mob-contacts-links {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mob-contacts-links:hover,
.mob-contacts-links:focus {
  color: #4d5ae5;
}
.mob-social-link-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
}
.mob-social-link {
  width: 40px;
  height: 40px;
}

.mob-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-social-icon {
  fill: #f4f4fd;
}
.mob-link:hover,
.mob-link:focus {
  background-color: #31d0aa;
}

/*===================ORDER-SECTION======================*/

.order {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 72px 0;
}
@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
  .order {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
}
.order-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 72px;
}
.order-button {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/*===================ABOUT-SECTION======================*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about {
  padding: 96px 0;
}
.about-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.about-item {
  width: 100%;
}
.about-icon {
  display: none;
}

.about-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.about-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*===================TEAM-SECTION======================*/

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-card-content {
  padding: 32px 0;
  text-align: center;
}
.team-name,
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-text,
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-name,
.team-text {
  text-align: center;
  margin-bottom: 8px;
}
.team-social-link-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.team-social-link {
  width: 40px;
  height: 40px;
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #f4f4fd;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/*===================PORTFOLIO-SECTION======================*/

.portfolio {
  background-color: #ffffff;
  padding: 96px 0;
}
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  align-items: center;
  gap: 48px;
  flex-wrap: wrap;
}
.portfolio-item {
  max-width: 288px;
  max-height: 400px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}
.portfolio-name {
  margin-bottom: 8px;
}

/*===================add card-overlay======================*/

.portfolio-photo-overlay {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  overflow: hidden;
}

.overlay-text {
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}
.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  max-height: 120px;
}

/*===================FOOTER======================*/

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
  align-items: baseline;
}
.footer-logo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo-design {
  color: #f4f4fd;
}
.footer-logo {
  padding: 0;
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
}
.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.social-text {
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-link-list {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 16px;
}
.footer-social-link {
  width: 40px;
  height: 40px;
}

.footer-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  fill: #f4f4fd;
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}

.subscribe-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  min-width: 288px;
  max-height: 40px;
  font-size: 12px;
  padding: 8px 0 8px 16px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.subscribe-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.subscribe-form-btn {
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  max-height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form-btn:hover,
.subscribe-form-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.icon-btn-telegram {
  margin-left: 16px;
  fill: #fff;
}

/*===================BACKDROP======================*/

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.modal {
  width: 288px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 16px 24px;
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-modal {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-open-btn {
  border-radius: 100%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 24px;
  min-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-open-btn:hover,
.modal-open-btn:focus {
  border: none;
  background-color: #404bbf;
}
.modal-open-btn:hover > .icon-close-modal,
.modal-open-btn:focus > .icon-close-modal {
  fill: #fff;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding: 11px 0 11px 38px;
  color: #2e2f42;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-textarea {
  margin-bottom: 16px;
}
.modal-textarea {
  min-height: 120px;
  resize: none;
  padding: 8px 0 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
}
.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.input-wrapper {
  position: relative;
}
.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within {
  border-color: #4d5ae5;
}
.modal-input:focus-within + .modal-icon {
  fill: #4d5ae5;
}
.modal-field-checkbox {
  margin-bottom: 24px;
}
.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-checkbox-label .checkbox-icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox:checked + .modal-checkbox-label .checkbox-icon {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
  border: none;
}
.privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-btn {
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  max-height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* =====================TABLET========================== */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .burger-btn {
    display: none;
  }
  .contacts {
    display: block;
    font-style: normal;
    margin-left: auto;
  }
  .logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-links {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-links:hover,
  .nav-links:focus {
    color: #404bbf;
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .nav-links.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    border-radius: 2px;
    height: 4px;
    background-color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 0;
  }
  .contacts-links {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-links:hover,
  .contacts-links:focus {
    color: #404bbf;
  }

  .order {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
    max-width: 768px;
  }
  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .order {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tablet-2x.jpg);
    }
  }
  .order-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
  .about-list {
    gap: 72px 24px;
  }
  .about-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .team-list {
    gap: 64px 24px;
  }
  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-item {
    max-width: 356px;
    max-height: 420px;
  }
  .footer-content {
    gap: 72px 24px;
  }
  .footer-subscribe-form {
    flex-direction: row;
    align-items: flex-end;
    gap: 24px;
  }
  .footer-content {
    justify-content: flex-start;
  }
  .subscribe-form-input {
    min-width: 264px;
  }
  .subscribe-form-input {
    min-width: 264px;
  }
  .footer-logo-content {
    align-items: flex-start;
  }
  .social-text {
    text-align: left;
  }
  .footer-logo {
    padding: 0;
  }
  .mob-menu {
    display: none;
  }
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

/* =======================DESKTOP==================== */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    gap: 40px;
    align-items: center;
    padding: 0;
  }
  .contacts-links {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .order {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;
  }
  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .order {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
  .order-title {
    margin-bottom: 48px;
  }
  .about {
    padding: 120px 0;
  }
  .about-icon {
    max-width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
  .about-list {
    gap: 24px;
  }
  .about-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .about-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .about-text {
    font-weight: 400;
  }
  .team {
    padding: 120px 0;
  }
  .team-list {
    gap: 24px;
  }
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  .footer {
    padding: 100px 0;
  }
  .footer-content {
    gap: 0;
  }
  .footer-logo-content {
    margin-right: 120px;
  }
  .footer-social {
    margin-right: 80px;
  }
}
